body {
    font-family: 'Lato', sans-serif;
    color: white;
    max-width: 1200px;
    margin: 0 auto;
    box-sizing: border-box;
}

p {
    width: 94%;
    overflow: hidden;
}

ul {
    list-style-type: none;
}

footer {
    padding: 1px;
}
